---
layout: base
title: Home
---

<main class="flex flex-col flex-1">
  <div class="text-lg mt-16 mx-auto">
    <h2 class="text-6xl text-pink-500">Hi!</h2>
    <h2 class="text-6xl text-yellow-400">I'm Zan</h2>
  </div>
</main>
