{% set navPages = collections.all | eleventyNavigation %}

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <title>{{ site.title }} - {{ title }}</title>
    <meta charset="UTF-8" />
    {% if description %}
    <meta name="description" content="{{ description }}" />
    {% endif %}
    <meta http-equiv="x-ua-compatible" compatible="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css" />
    <link rel="stylesheet" href="/style.css?v={% lastUpdated %}" />
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

    {% block head %}{% endblock %}
  </head>
  <body
    class="flex flex-col w-screen h-full font-serif bg-gradient-to-r from-purple-800 to-indigo-600"
  >
    <header class="flex justify-between w-screen p-3">
      <a href="/">
        <h1 class="pl-5 text-2xl text-indigo-300">ZT</h1>
      </a>
      <nav class="pr-10 text-indigo-300 print:hidden">
        <ul class="flex justify-between">
          {%- for entry in navPages -%} 
            {% set navLinkClass = "px-4" %} 
            {% set isActive =page.url.startsWith(entry.url) %}

            <li
              {% if isActive %} class="text-pink-500 {{ navLinkClass }}" {% endif %} class="{{ navLinkClass }}" >
              <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>

          {%- endfor -%}
        </ul>
      </nav>
    </header>
    
    <main class="flex flex-col flex-1">
      {{ content | safe }}
    </main>

    <footer class="text-center text-purple-900 bg-white opacity-20">
    made in mn {% year %} &copy; zanthrash.com
    </footer>
  </body>
</html>
