---
layout: blog
---

<section class="w-full mx-auto mt-10 md:w-2/3 ">
  <div>
    <h1 class="text-4xl text-yellow-400">
    {{ title }}
    </h1>


    <div class="text-lg text-pink-500">
    {{ date | readableDate}}
    </div>
  </div>

  <article class="px-8 py-4 mt-8 text-lg prose bg-gray-100 bg-opacity-100 rounded-md prose-pink">
  {{ content | safe }}
  </article>
</section>
