---
eleventyNavigation:
  key: about
  order: 1
layout: about
title: about
---

<div>
  <h2 class="text-6xl mb-4">
    Hello. I'm <span class="text-pink-500">Zan Thrash</span>
  </h2>

  <p>Twin Cites based Fullstack Software Engineer with 20+ years experience.</p>
  <p class="mt-4">
    I'm a recovering JVM Software Engineer who still dabbles in that space when
    needed, but now try to live in Javascript land as much as possible.
  </p>
</div>
