---
eleventyNavigation:
  key: resume
  order: 3
layout: resume
title: resume
---
<div class="">
  <div class="grid gap-4 md:grid-cols-5">
    <heading class="">
      Work
    </heading>
    <div class="col-span-4">
    {% for job in collections.jobs | reverse%}
      <div class="flex pb-8 ml-6 space-x-8 
        {% if loop.last === false %}
          border-l-4  border-pink-300 
        {% endif %}"
        >
        <div class="text-sm text-center text-pink-200">
          <div class="-ml-4 overflow-hidden bg-pink-500 rounded-md ring-4 ring-pink-300">
            <div class="px-2 py-1 text-pink-500 bg-pink-100">
              {% if job.data.endDate %}
              <div class="text-lg font-semibold">
                {{job.data.endDate | year}}
              </div>
              <div class="font-light">
                {{job.data.endDate | monthShort}}
              </div>
              {% else %}
                <div>Present</div>  
              {% endif %}
            </div>
            <div class="px-2 py-1 ">
              <div class="text-lg font-semibold">
                {{job.data.date | year}}
              </div>
              <div class="font-thin">
                {{job.data.date | monthShort}}
              </div>
            </div>
          </div>
        </div>

        <section class="text-base md:text-xl">
          <h2 class="mt-0 md:text-3xl">{{job.data.company}}</h2> 
          <div class="font-semibold text-gray-700">{{job.data.position}}</div>
          <div class="my-2">
            {{job.data.overview  }}
          </div>
          <ul class="ml-6 font-light text-gray-500 list-disc list-outside">
            {% for highlight in job.data.highlights %}
            <li>
             {{highlight}} 
            </li>
            {% endfor %}
          </li>
          {# <div>
            {% for skill in job.data.skills %}
              🤘 {{skill}} 
            {% endfor %}
          </div> #}
        </section> 
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="grid md:grid-cols-5 ">
    <heading class="">Education</heading>

    <div class="col-span-4 divide-y-4">
      {% for school in collections.education %}
      <section class="md:text-xl">
        <h2 class="mt-0 md:text-3xl">{{school.data.institution}}</h2> 
        <div class="font-semibold text-gray-700">{{school.data.degree}}</div> 
        <div class="font-light">
        <span>
        {{school.data.date | year}}
        </span>
        <span>{{school.data.date | monthShort}}</span>
        </div> 
      </section>
      {% endfor %}
    </div>

  </div>

</div>